{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
{% if messages %}
<div class="alert alert-info" role="alert">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

<div class="card p-4 mx-auto" style="max-width: 400px;">
    <h3 class="text-center">Login</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.username.label_tag }} {{ form.username }}  
        {{ form.password.label_tag }} {{ form.password }}  
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
</div>
{% endblock %}
